.App {
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.searchbar {
  width: 90%;
  margin: auto;
}

.searchbar input {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
  box-shadow: 13px 13px 26px #e3e3e3, -13px -13px 26px #fff;
  width: 10%;
  padding-left: 20px;
}

.searchbar input::placeholder {
  font-size: 1em;
}

.searchbar button {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
  background-color: lightblue;
  box-shadow: 13px 13px 26px #e3e3e3, -13px -13px 26px #fff;
}